Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [1]:
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [2]:
l

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [3]:
sort_data=sorted(l,key=lambda x:x[1])
print(sort_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l1=[1,2,3,4,5,6,7,8,9,10]
sq=list(map(lambda x:x**2,l1))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


"""Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"""

In [10]:
l2=[1,2,3,4,5,6,7,8,9,10]
stri=tuple(map(lambda x:str(x),l2))
print(stri)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
type(stri)

tuple

In [15]:
from functools import reduce

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [16]:
reduce(lambda x,y:x*y,range(1,25))

620448401733239439360000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [21]:
l3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3==0,l3))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [ ]:
l4=. ['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda l:l[]))