In [1]:
#Q1.Explain with an example each when to use a for loop and a while loop.

In [2]:
#A for loop is typically used when you know the exact number of times you need to iterate, whereas a while loop is used when the number of iterations is uncertain and dependent on a condition.

In [3]:
#we want to print values from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#if you wanted to keep prompting a user for input until they entered a valid response, you could use a while loop:
valid_input = False
while not valid_input:
    user_input = input("Please enter a valid response: ")
    if user_input == "valid":
        valid_input = True

Please enter a valid response:  jgbkc
Please enter a valid response:  8138
Please enter a valid response:  -1nkd
Please enter a valid response:  kbjcb
Please enter a valid response:  valid

In [5]:
#Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
#and while loop.

In [6]:
#using for loop
sum =0
for i in range(0,11):
    sum=sum+i
sum

55

In [1]:
#using while loop
n = 10
total_numbers = n
sum = 0
while n >= 0:
    sum += n
    n -= 1
print("sum =", sum)

sum = 55

In [ ]:
#Q3. Create a python program to compute the electricity bill for a household.
#The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
#unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
#be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.***

In [12]:
unit=int(input("Input your billing unit"))
print(unit)
if unit<=100:
    print("total charge for bill is ₹",4.5*unit)
elif unit>=100 and unit<=200:
    print("total charge for bill is ₹",6*unit)
elif unit>=200 and unit<=300:
    print("total charge for bill is ₹",10*unit)
elif unit>300:    
    print("total charge for bill is ₹",20*unit)

Input your billing unit 310

310
total charge for bill is ₹ 6200

In [13]:
#Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
#number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
#that list.

In [20]:
l1=[]
l2=[]
for i in range(1,100):
    print(i**3)
    if i**3%4==0 or i**3%5==0:
        l1.append(i**3)
print("the list is",l1)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
the list is [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]

In [21]:
#Q5. Write a program to filter count vowels in the below-given string.
#string = "I want to become a data scientist"

In [25]:
str="I want to become a data scientist"
vowels = "aeiou"
count = 0

# loop through each character in the string
for char in str:
    # check if the character is a vowel
    if char.lower() in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 12